
<h1>{{lodgeName}}</h1>

<p>Nouveau message de {{firstName}} {{lastName}}</p>

<p><strong>Message</strong></p>
<p>{{message}}</p>

<p><strong>Coordonnées</strong></p>
<p>{{email}}</p>
<p>{{phone}}</p>