<h1>{{lodgeName}}</h1>
<p>Bonjour {{firstName}} {{lastName}}</p>

<p>Nous vous remercions pour votre réservation au sein de notre gîte du {{from}} au {{to}}</p>
<p>Ces dates sont désormais bloquées dans notre calendrier.</p>

<p><strong>Le gîte</strong> </p>
<p>4 la petite Pouzerie </p>
<p>36400 Thevet st julien</p>

<p>Heure d'arrivé : 16h-17h</p>
<p>Heure de départ : 9h-10h</p>

<p><strong>Total : {{total}}€</strong></p>
<p>Nuitées : {{price}}€</p>
<p>Taxe de séjour: {{taxe}}€</p>
<p>Options : {{optionsPrice}}€</p>
{{#if menage}} 
<p>Option ménage : {{menage}}</p>
{{/if}} 
{{#if nbLitDouble}} 
<p>Nombre de draps en 160*200 : {{nbLitDouble}}</p>
{{/if}} 
{{#if nbLitSimple}} 
<p>Nombre de draps en 90*190 : {{nbLitSimple}}</p>
{{/if}} 
{{#if nbLinge}} 
<p>Nombre de linges : {{nbLinge}}</p>
{{/if}} 

<p><strong>Voyageurs</strong></p>
<p>Nombre d'adultes : {{adults}}</p>
<p>Nombre d'enfants : {{kids}}</p>
<p>Nombre de bébés : {{babies}}</p>
<p>Nombre d'animaux : {{animals}}</p>

{{#if cond1}} 
    Nous avons bien recu votre message :
    <p>"{{message}}"</p>
{{/if}}

<p>Si vous avez la moindre question, n'hesitez pas à nous recontacter par email : {{hostMail}} ou par téléphone : {{hostPhone}}</p>

<p>A très bientot.</p>
<p>{{signature}}</p>